.no-wrap {
    white-space: nowrap;
}

.nav-item:nth-child(2) a {
    color: #EDA39E;
}
.nav-item:nth-child(1) a {
    color: #f9f8f6;
}

main {
    display: flex;
    width: 100vw;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 1.6rem;
    justify-content: center;
    background-color: #604543;
    padding: 10rem 9.2rem 10rem 9.2rem;
}

.top-section {
    display: grid;
    flex: auto;
    margin: 1.6rem 0;
}
.top-section__flex-container {
    position: relative;
    display: flex;
    height: 24rem;
    border-radius: 0.8rem;
    overflow: hidden;
}
.flex-container__image {
    width: 100%; 
    height: 32rem;
    border-radius: 0.8rem;
    background-image: url("../images/cup-cake-mask@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.flex-container__overlay {
    display: flex;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    bottom: 0;
    opacity: 0.75;
    background-color: #1B241C;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}
.flex-container__overlay:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: 0.4s;
}
.flex-container__overlay  > h4 {
    margin: auto;
    padding: 0 1.6rem;
    text-align: center;
}



.product-section {
    position: relative;
    display: grid;
    flex: auto;
    width: 100%;
    gap: 1.6rem;
    margin-bottom: 9.6rem;
    grid-template-columns: repeat(auto-fit , minmax(25rem, 1fr));
}

.card {
    position: relative;
    display: flex;
    height: 30rem;
    border: none;
    overflow: hidden;
    transform: rotate(0);
    border-radius: 0.8rem;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover {
    cursor: pointer;
}
.card:hover > .card-btn {
    cursor: pointer;
    box-shadow: 0 0 20px #EDA39E;
    text-shadow: 0 0 20px #EDA39E;
}
.card:hover > .card__image-container > img {
    transform: scale(1.10);
    border-radius: 0.8rem;
}
.card__image-container {
    width: 100%;
    height: 35rem;
    overflow: hidden;
}

.card__image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 25rem;
    overflow: hidden;
    transition: .5s;
    object-position: 50% 50%;
}

.card-btn {
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
    background-color: #667A68;
}

.card-btn > p {
    padding: 2.4rem 0;
}
.card-btn > .item-detail,
.card-btn > .item-price {
    display: none;
    /* detail will only show inside modalbox using modalbox.js script */
}





.modal-container {
    position: fixed;
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 1.6rem; 
    visibility: hidden;
    justify-items: flex-end;
    background-color: rgba(0,0,0,0.5);
    transition: visibility 0.2s, opacity 0.2s linear;
}
.modal-container.active {
    visibility: visible;
    opacity: 1;
}
.modal-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 38.4rem;
    height: 43.2rem;
    overflow: hidden;
    border-radius: 0.8rem;
    background-color: #667a66;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-box__img-container {
    width: 100%;
    height: 22.4rem;
    overflow: hidden;
    background-color: #777;
}
.modal-box__img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50% ;
}
.modal-box__info-container{
    text-align: justify;
    margin: 2.4rem 1.6rem 0 1.6rem;
}
.modal-box > p {
    text-align: right;
    margin-top: auto;
    margin-right: 1.6rem;
    padding-top: 2.4rem;
}
.close-btn {
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    top: 0;
    opacity: 0.9;
    cursor: pointer;
    background-color: #667A68;
    border-bottom-right-radius: 0.8rem;
}

/* .bar class can be found in styles.css*/
.close-btn .bar {
    background-color: #aaa;
}
.close-btn:hover > .bar,
.close-btn:focus > .bar {
    background-color: #f9f8f6;
}
.close-btn > .bar:nth-child(1) {
    transform: translateY(18px) rotate(45deg);
}
.close-btn > .bar:nth-child(2) {
    transform: translateY(10px) rotate(-45deg);
}
/*/////////////////////////////////////////// */

.form-container {
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    margin-top: auto;
    margin-left: auto;
    padding: 0 1.6rem 1.6rem 0;

}
.form-container button {
    cursor: pointer;
    padding: 1.2rem 2.4rem;
    border-radius: 0.4rem;
    border: none;
    background-color: #EDA39E;
    margin-left: 1.6rem;
}
.form-container button:hover {
    background-color: #EED1CA;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.form-container input {
    font-size: 1.6rem;
    width: 5.2rem;
    margin-left: 0.8rem;
    border: none;
    border-radius: 0.4rem;
    padding-left: 0.8rem;
   
}
footer {
    margin-bottom: 8rem;
}

#bottom-nav {
    position: fixed;
    display: flex;
    height: 8rem;
    width: 100vw;
    max-width: 100%;
    padding: 0 9.2rem;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #604543;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, .16);
}
#bottom-nav > img:nth-child(1) {
    position: absolute;
    left: 9.2rem;
    height: 2.4rem;
    padding-bottom: 0.4rem;
    align-self: center;
    text-align: center;
}
.bottom-nav__address-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 1.6rem;
    overflow: hidden;
}
.bottom-nav__address {
    position: relative;
    align-self: center;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    padding: 0 1.6rem 0.2rem 2.4rem;
    border-bottom: 2px solid #f9f8f6;
}
.bottom-nav__cart-container {
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    
   
}
.bottom-nav__cart-container > p {
    font-size: 2.4rem;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #444;
}
#cart-notification-bar {
    display: block;
    padding: 3rem 0 2.4rem 9.2rem;
    width: 100vw;
    max-width: 100%;
    height: 8rem;
    background-color: #EED1CA;
    position: fixed;
    bottom: -8rem;
    font-family: 'Karla', sans-serif;
    transition: ease-in, 0.3s;
}
#cart-notification-bar.active {
    bottom: 8rem;
    transition: ease-in, 0.3s;
}

.clip-icon {
    z-index: -1;
    position: absolute;
    right: 50%;
    left: 50%;
    top: -20px;
    bottom: 50%;
    transform: translate(-50%, -50%);
    transition: all .1s linear;
    overflow: hidden;
    
}
.clip-circle {
    z-index: -1;
    top: -32.5px;
    bottom: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    right: 50%;
    left: 50%;
    clip-path: circle(30px at center);
    transition: all .08s linear;
}
.cart {
    z-index: 1;
}



.article-info {
    display: flex;
    grid-column: 1 / 2 ;
    background-color: #D99691;
    padding: 6.4rem 9.2rem 6.4rem 9.2rem;
    opacity: 0.90;
}
.article-info > .info-container {
    align-self: center;
}
.article-info > .info-container > h2 {
    color: #444;
    line-height: 5.6rem;
    white-space: nowrap; 
    padding-bottom: 2rem;
}
.article-info > .info-container > p {
    font-size: 1.8rem;
}

.article-info > .info-container > a {
    display: inline-block;
    margin-top: 4rem;
    padding: 1.2rem 2.4rem;
    border-radius: 0.4rem;
    color: #f9f8f6;
    text-decoration: none;
    background-color: #667a68;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.article-info > .info-container > a:hover {
    cursor: pointer;
    background-color: #758E77;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.news-letter-section {
    background-color: #EDA39E;
    text-align: center;
    padding: 3.2rem 9.2rem; 
}
.news-letter-form {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 1.6rem;
    width: 100%;
    z-index: 2;
    
}
.news-letter-form > input[type="email"] {
    cursor: pointer;
    border: 2px solid #444;
    display: block;
    padding: 1.8rem 9.2rem 1.8rem 2.8rem;
    border-radius: 4rem;
    background-color: #667A68;
    width: 100%;
    min-width: 300px;
    outline: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
::placeholder {
    color: #f9f8f6e0;
}
.news-letter-form > input[type="submit"] {
    cursor: pointer;
    border: none;
    display: block;
    margin-left: -8.2rem;
    padding: 1.8rem 2.8rem;
    border-radius: 4rem;
    background-color: #46302D;
    color: #F9F8F6;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.news-letter-form > input[type="email"]:hover {
    background-color: #758E77;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.news-letter-form > input[type="submit"]:hover {
    background-color: #523835;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

footer {
    display: grid;
    font-size: 1.4rem;
    width: 100vw;
    max-width: 100%;
    column-gap: 3.2rem;
    grid-auto-columns: auto;
    background-color: #667A68;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-start;
    padding: 6.4rem 9.2rem;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, .16);
}
.footer-col-1 {
    grid-column: 1 / 6;
}
.footer-col-2 {
    grid-column: 6 / 8;
}
.footer-col-3 {
    grid-column: 8 / 13;
    justify-self: end;
}
.footer-col-3 > i {
    margin-left: 3.2rem;
    transition: 0.4s;
}
.footer-col-3 > i:hover {
    transition: 0.4s;
    cursor: pointer;
    color: #EDA39E;
}



@media only screen and (max-width: 1112px) {
    nav {
        padding: 0 1.6rem;
    }
    main {
        padding: 10rem 1.6rem 0 1.6rem;
        max-width: 100%; 
    }
    .top-picks-col-1 {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    .card {
        min-height: 40rem;
    }
    .card__image-container > img {
        max-height: 40rem;
    }
    .section-title {
        left: 1.6rem;
    }
    .top-picks-col-1 {
        width: 100vw;
        
    }
    .top-picks-col-2 {
        width: 100vw;
        max-width: 100%;
        
    }
    #cart-notification-bar {
        padding-left: 1.6rem;
    }
    #bottom-nav {
        padding: 0 1.6rem;
    }
    #bottom-nav > img:nth-child(1) {
        left: 1.6rem;
    }




    .article-info {
        grid-column: 1 / 3 ;
        border-radius: 0.8rem;
    }
    .news-letter-section {
        padding: 2.4rem 1.6rem; 
    }
    .news-letter-section > h3 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
    .news-letter-form {
        margin-top: 0.8rem;
    }
    .news-letter-form > input[type="email"] {
        width: 100%;
    }
    footer {
        padding: 3.2rem 1.6rem;
        column-gap: 1.6rem;
        grid-template-columns: repeat(6, 1fr);
    }
    .footer-col-1 {
        grid-column: 1 / 2;
    }
    .footer-col-2 {
        grid-column: 3 / 5;
    }
    .footer-col-3 {
        grid-column: 5 / 7;
    }
    .footer-col-3 > i {
        margin-left: 0;
        margin-right: 1.6rem;
    }

}





@media only screen and (max-width: 650px) {
    .top-picks-col-1 {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .card {
        min-height: 30rem;
    }
    .card__image-container > img {
        max-height: 300px;
    }
    .flex-container__overlay {
        width: 100%;
   
    }

    .article-info {
        opacity: 0.9;
        text-align: center;
        padding: 2.4rem;
    }
    .article > .info-container {
        margin: 0;
    }
    .article-info > .info-container > h2 {
        line-height: 3.2rem;
        font-size: 2.4rem;
        padding-bottom: 1.6rem;
    }
    .article-info > .info-container > p {
        font-size: 1.6rem;
    }
    .article-info > .info-container > a {
        margin-top: 5.6rem;
    }
    .news-letter-form > h3 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    footer {
        padding: 3.2rem 1.6rem;
        column-gap: 1.6rem;
        row-gap: 1.6rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .footer-col-1 {
        grid-column: 1 / 5;
    }
    .footer-col-2 {
        grid-column: 1 / 5;
        grid-row: 2;
    }
    .footer-col-3 {
        grid-column: 1 / 5;
        grid-row: 1;
        justify-self: start;
    }




}
