.no-wrap {
    white-space: nowrap;
}

.nav-item:nth-child(2) a {
    color: #EDA39E;
}

main {
    padding-top: 16rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit , 1fr);
    padding-left: 9.2rem;
    padding-right: 9.2rem;
    gap: 3.2rem;
    border: 1px solid red;
}
.section-title{
    position: absolute;
    top: 10.5rem;
    left: 9rem;
}
.top-picks-col-1 {
    display: grid;
    width: 50vw;
    position: relative;
    gap: 3.2rem;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}
.top-picks-col-2 {
    max-width: 50vw;
    min-width: 50vw;
    display: grid;
    flex: auto;
    min-width: 30rem; 
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}


.card {
    display: flex;
    height: 32rem;
    position: relative;
    flex-direction: column;
    border: none;
    overflow: hidden;
    border-radius: 0.8rem;
}
.filled-card {
    height: 27.5rem;
    grid-column: span 2;
    position: relative;
    background-color: gray;
    border-radius: 0.8rem;
    max-width: 100%;
    
    
}
.card__image-container {
    width: 100%;
    overflow: hidden;
}

.card__image-container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden
    
}
/* Test /////////////////////////////////*/
.card > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}
/* Test ////////////////////////////////*/
.card-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    text-align: center;
    background-color: #667A68;
}
.card-btn > p {
    padding: 2.4rem 0;
}
.flex-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.flex-container__image {
    overflow:hidden;
    height: 32rem;
    border-radius: 0.8rem;
    background-image: url("../images/cup-cake-mask@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
}
.flex-container__overlay {
    min-width: 200px;
    background-color: #1B241C;
    text-align: center;
    height: 32rem;
    width: 50%;
    display: flex;
    position: absolute;
    align-self: flex-end;
    opacity: 0.9;
    margin: auto;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}
.flex-container__overlay  > h4 {
    margin: auto;
    padding: 0 1.6rem;
}




