:root {
    --app-height: 100%;
}
span , label {
    font-family: 'Karla', sans-serif;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    }
    
.text-xxs {
    font-size: 1.3rem;
}

#top-nav {
    justify-content: flex-start;
    padding: 0 2.4rem;
}
#mobile-back-btn {
    display: none;
}

.backToMenu-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #f9f8f6;
    transition: 0.4s;
    margin-left: 2.4rem;
    text-decoration: none;
}
.backToMenu-link > p {
    display: inline-block;
    transition: 0.4s;
    padding-left: 0.8rem;
    
}
.backToMenu-link:hover > p {
    padding-left: 1.6rem;
}
.backToMenu-link:hover {
    margin-left: 1.6rem;

}
main {
    display: grid;
    height: var(--app-height);
    width: 100vw;
    max-width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.review-order-section {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #667A68;
    grid-row: 1/ 13;
    grid-column: 1 / 6;
}
.order-review {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 13.2rem;
}
.order-review > label {
    font-size: 1.3rem;
}
.order-review > p {
    margin-bottom: 0.8rem;
}
.address-container {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #f9f8f6;
    justify-content: space-between;
    cursor: pointer;
}
.order-review__map-link {
    text-decoration: none;
    color: #f9f8f6;
}


.cart-items-section {
    overflow-y: scroll;
    overflow-x: scroll; 
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    background-color: #604543;
    grid-column: 6 / 13;
    grid-row: 1 / 13;
}

.cart-item.active {
    display: flex;
    position: relative;
    margin: 2.4rem auto 0 auto;
    padding: 2.4rem;
    background-color: #667A68;
    height: 19.4rem;
    width: 58rem;
    border-radius: 1.6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cart-item.hidden {
    display: none;
}
.cart-item__wrapper {
    display: flex;
}


.cart-receipt-block {
    display: none;
}
.cart-item__img-container {
    flex-shrink: 1;
    border-radius: 1.6rem;
    background-color: #f9f8f6;
    width: 12.6rem;
    min-width: 100px;
    height: 12.6rem;
    overflow: hidden;
}
.cart-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

}
.cart-item__content-wrapper {
    flex-shrink: 3;
    margin-left: 2.4rem;
}

.cart-item__content {
    display: flex;
    margin-right: auto;
    flex-direction: column;
}
.cart-item__title {
    display: block;
    
}

.cart-item__remove-btn {
    height: 4rem;
    position: absolute;
    right: 2.4rem;
    bottom: 2.4rem;
    color: #444;
    border-style: none;
    border-radius: 0.8rem;
    background-color: #EDA39E;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cart-item__remove-btn p {
    display: inline;
    white-space: nowrap;
}

.remove-btn__wrapper {
    padding: 0 1.6rem;
}
.cart-receipt-block.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.4rem auto;
    width: 58rem;
    height: 12rem;
    border-radius: 0.8rem;
    background-color: #667A68;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 200px;
}
.cart-total, .cart-subtotal {
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;
}



.google-pay-btn.active {
    display: flex;
    position: fixed;
    right: 2.4rem;
    bottom: 2.4rem;
    overflow: hidden;
    width: 17.5rem;
    border-radius: 3.2rem;
    border: none; 
    cursor: pointer;
    opacity: 0.75;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.google-pay-btn {
display: none;
}




.google-pay-btn:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 0px 12px 10px;
    opacity: 1;
}
.google-pay-btn:active {
    box-shadow: none;
    transform: translateY(4px);
}

.quantity-input {
    display: flex;
    justify-content: flex-start;
    border-radius: 0.8rem;
    overflow: hidden;
    width: 9.2rem;
    
}

.quantity-input button {
    height: 4rem;
    width: 4rem;
    background-color: #444;
    border: none;
    cursor: pointer;
   
}
.quantity-input input {
    border: none;
    width: 4rem;
    text-align: center;
    background-color: #444;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

@media only screen and (max-width: 992.98px) {
    #top-nav {
        display: none;
    }
    #mobile-back-btn {
        width: 58px;
        display: block;
    }
    #mobile-back-btn a {
        text-decoration: none;
        color: #f9f8f6;
        transition: 0.3s;
    }
    #mobile-back-btn:hover a {
        margin-left: -0.8rem;
        transition: 0.3s;
    }
    .review-order-section {
        padding-top: 2rem;
        grid-row: 1 / 4;
        grid-column: 1 / 13;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    }
    .order-review {
        padding-bottom: initial;
        margin-top: initial;
        margin-bottom: initial;
    }
    .cart-items-section {
        z-index: 0;
        grid-row: 4 / 13;
        grid-column: 1 / 13;
        padding-top: inherit;
        margin: 0 1.6rem;
    }
}

@media only screen and (max-width: 768px) {
    .cart-item.active {
        width: 100%;
        align-items: center;
    }
 
    .cart-item__title {
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 0.4rem;
     
    }

    .cart-receipt-block.active {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .cart-item.active {
        min-height: initial;
        height: initial;
        max-height: initial;
        padding: 1.6rem;
        display: initial;
    }
    .cart-item__wrapper {
        justify-content: space-between;
    }
    .cart-item__content-wrapper {
        position: relative;
        width: initial;
    }
    .cart-item__content {
        align-items: flex-end;
        text-align: right;
    }
    .cart-item__remove-btn {
        margin-top: 0.8rem;
        width: 50px;
        max-height: 3.2rem;
        position: relative;
        right: initial;
        bottom: initial;

    }
    .cart-item__remove-btn p {
        display: none;
    }
}
         










