:root {
    --app-height: 100%;
}

#top-nav {
    justify-content: flex-start;
    padding: 0 2.4rem;
}

.backToMenu-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #f9f8f6;
    transition: 0.4s;
    margin-left: 2.4rem;
    text-decoration: none;
}

.backToMenu-link > p {
    display: inline-block;
    transition: 0.4s;
    padding-left: 0.8rem;
    
}
.backToMenu-link:hover > p {
    padding-left: 1.6rem;
}
.backToMenu-link:hover {
    margin-left: 1.6rem;
   
}
main {
    display: grid;
    height: var(--app-height);
    height: 100vh;
    width: 100vw;
    min-width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.left-section {
    display: flex;
    padding-top: 8rem;
    background-color: purple;
    grid-row: 1/ 13;
}