@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;0,700;1,500;1,700&family=Spectral:ital,wght@0,300;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #444;
    font-size: 62.5%;
    line-height: 1.15;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-text-size-adjust: 100%;

}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh; /*TEST*/
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    background: #604543;
}

h1 h2 h3 {
    font-family: 'Spectral', serif;
}
h1 {
    font-size: 5.6rem;
    line-height: 7.2rem;
    font-family: 'Spectral', serif;
    
}
h2 {
    font-size: 4rem;
    line-height: 5.6rem;
}
h3 {
    font-size: 3.2rem;
    line-height: 4rem;
}
h4 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}
.light-font {
    color: #F9F8F6;
}

*, *::before, *::after {
    box-sizing: inherit;
}
nav {
    z-index: 1000;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 8rem;
    padding: 0rem 9.2rem;
    align-items: center;
    justify-content: space-between;
    background: #667a68;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}
nav > a {
    text-decoration: none;
}
.logo img:nth-of-type(1) {
    width: 4.8rem;
    vertical-align: middle;
}
.logo img:nth-of-type(2) {
    width: 15rem;
    vertical-align: middle;
    display: inline-block;
}
#nav-menu {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 4.8rem;
    align-self: center;
    white-space: nowrap; 
}
.nav-item a {
    color: #f9f8f6;
    text-decoration: none;
}
.nav-item a:hover {
    color: #EDA39E;
    transition: 0.2s ease-in-out;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.5rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f9f8f6;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 700px;
    width: 100vw;
    background-image: 
    radial-gradient(at top left, rgba(102,122,104,0.85) 0%, rgba(27,36,28,0.85) 45%),
    url("../images/SVG/hero-bg-cupcakes.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.hero-header {
    display:flex;
    margin-top: 14rem;
    margin-bottom: 3.4rem;
    margin-left: 15.2rem;
    color: #f9f8f6;
}
.hero-footer {
   
   
    border: 1px solid red;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;

}
.headline{
    color: #f9f8f6;
    margin-top: 14rem;
    margin-left: 15.2rem;
}
.order-button, .special-button {
    margin-left: 15.2rem;
    
}
.order-button {
    z-index: 1;
    width: 18.2rem;
    margin-bottom: 3.4rem;
    border: none;
    text-decoration: none;
    color: #444;
    padding: 1.2rem 4rem;
    background-color: #EDA39E;
    border-radius: 0.4rem;
    text-align: center;
}
.special-button {
    z-index: 1;
    width: 18.2rem;
    text-decoration: none;
    color: #F9F8F6;
    padding: 1.2rem 2.4rem;
    background-color: transparent;
    border: 0.2rem solid #EDA39E;
    border-radius: 0.4rem;
}
.order-button:hover {
    background-color: #EED1CA;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.special-button:hover {
    background-color: #604543;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.arrow {
    opacity: 0.6;
    height: 39rem;
    position: absolute;
    margin-left:9.2rem;
    top: 12.4rem;
    left: 0;

}
.giant-cupcake {
    position: absolute;
    height: 85vh;
    bottom: 0;
    right: 0;
    /*max-width: 20%*/
}
.instagram-favicon {
    opacity: 0.6;
    width: 4rem;
    position: absolute;
    bottom: 8.3rem;
    margin-left: 8.3rem;
 
}
.instagram-favicon:hover {
    opacity: 1.0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*
.giant-cupcake {
    max-height: 90vh;
    bottom: 0;
    top: 0;
    /*max-width: 20%*/

/*
.bg-overlay-container {
   position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    
} */



@media only screen and (max-width: 992.98px) {
    nav {
        padding: 0 1.6rem;
    }
    #nav-menu {
        flex-direction: column;
        width: 100vw;
        left: -100vw;
        top: 8rem;
        position: fixed;
        text-align: center;
        transition: 0.3s;
        background-color: #667a68; 
    }
    .nav-item {
        order: 2;
        margin: 2.4rem 0;
    }
    #nav-menu.active {
        left: 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #D99691;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #D99691;
    }
    .hamburger:hover .bar {
        background-color: #D99691;
    }
    .arrow {
        padding-right:9.2rem;
        margin-left: 2.4rem;
    }
    .instagram-favicon {
        margin-left: 1.6rem;
        bottom: 1.6rem;
    }
  
}

@media only screen and (max-width: 768px) {
    .hero-footer  {
        align-items: center;
        margin-left: 0;
    }
    .headline, .order-button, .special-button {
        margin-left: 0;
        text-align: center;  
    }
    .giant-cupcake {
        display: none;
    }
    .instagram-favicon {
        left: 0;
    }


}


/*
#hero {
    z-index: -1;
    top: 0;
    display: flex;
    overflow: visible;
    align-items: flex-start;
    padding: 8rem 9.2rem 0rem 9.2rem;
    mask-position: top;
    -webkit-mask-position: top;
    position: absolute;
    overflow: visible;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-image: url(../images/SVG/curvy-mask.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(../images/SVG/curvy-mask.svg);
    -webkit-mask-size: cover;
    mask-clip: 0;
    -webkit-mask-clip: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:
    radial-gradient(at top left, rgba(102,122,104,0.85) 0%, rgba(27,36,28,0.85) 45%),
    url(../images/SVG/hero-bg-cupcakes.svg);
    
}
*/
/*
#hero .arrow {
    margin-top: 9.1rem;
    padding-right: 2.6rem;
    
}
#hero .hero-content > h1 {
    padding-bottom: 0.8rem;
}
.hero-content {
    padding-top: 9.2rem;
    display: flex;
    flex-direction: column;
    
}
.hero-content button:nth-of-type(2) {
    margin-top: 3.4rem;
    margin-bottom: 16.8rem;
}
#hero > a {
    text-decoration: none;
    left: 0;
}
.pink-button {
    color: #444;
    font-size: 1.6rem;
    padding: 1.2rem 4rem; 
    background-color: #EDA39E;
    border: none;
    border-radius: 0.4rem;
} 

#article {
    display:flex;
    justify-content: flex-start;
    height: 100vh;
}
.fa-instagram {
    color: #f9f8f6;
    margin-left: 9.2rem;
}*/

/*
.container:nth-child(1) {
    height: 92vh;
}

*/